<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hi <i><b>{{user[1]}}</b></i> welcome back 
    <br>
    <p>Your details are:</p>
    <ul>
        <li>Emp ID: {{user[0]}}</li>
        <li>Username: {{user[1]}}</li>
        <li>Email: {{user[2]}}</li>
    </ul>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>